.hello{
	/*border: 10px solid red;
	border-radius: 5px 15px 75px 30px;
	
	border: none;
	box-shadow: 5px 10px 8px 6px red;
	background-color: rgb(22, 255, 221) opacity(1);*/
	text-shadow: 2px 2px 2 px;
/*x,y,blur only 3 property*/
}
/*button{
	
	box-shadow: 5px 10px 8px 6px red;
	/*x, y, intensity, size, color	*/
	/*border: 5px solid;
	border-image:url(rani.jpeg) 20 round(1, 1, 2);
	Make sure to add border first then border image
}

button:hover{
	background: red;
}

/*We can give class and id to one element*/

/*Opacity goes from 0 to 1*/

/*body{
	height: 1280px;
	width: 500px;
	background: red;
	background-image: linear-gradient(to right, lightpink, blue);
}*/
h1{
	border: 2px solid burlywood;
	transform: ;
}
